---
// Server Only 
// Significa que el código solo se ejecutará en el servidor y no se incluirá en el bundle del cliente. 
// Esto es útil para código que no necesita ser enviado al navegador, como lógica de backend o acceso a bases de datos.
const name = 'Luis Alberto Quispe Osorio';
const title = 'Mi Portafolio';

const currentDate = new Date();
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>Hola, Astro!, Hola {name}</h1>
		<p>Momento actual: {currentDate.toLocaleTimeString()}</p>
		<p id="current-time">Momento actual real:</p>
		<footer>Año: 2023</footer>
		<script>
			// Client Only
			// Significa que el código solo se ejecutará en el cliente (navegador) y no se ejecutará en el servidor. 
			// Esto es útil para código que depende de la interacción del usuario o de APIs del navegador, como eventos de clic o manipulación del DOM.
			const footer = document.querySelector('footer') as HTMLElement;
			const currentTimeParagraph = document.getElementById('current-time') as HTMLElement;
			const currentYear: number = new Date().getFullYear();

			footer.innerText = `Año: ${currentYear}`;
			currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
		</script>
	</body>
</html>
