---
import { getCollection } from "astro:content";

interface Props {
	limit?: number;
}

const { limit } = Astro.props;

const projects = await getCollection("projects");

const visibleProjects = limit ? projects.slice(0, limit) : projects;

// Obtener todas las imágenes de proyectos
const allImages = import.meta.glob("/src/assets/projects/*/*.{jpg,jpeg,png,webp}", {
	eager: true,
	query: "?url",
	import: "default",
}) as Record<string, string>;

// Función para obtener la imagen principal del proyecto
function getProjectImage(projectId: string) {
	return Object.entries(allImages).find(([path]) => path.includes(`/projects/${projectId}/`))?.[1] ?? "";
}
---

<ul class="project-list">
	{
		visibleProjects.map((project) => {
			const projectImage = getProjectImage(project.id);

			return (
				<li class="project-item">
					<a href={`/projects/${project.id}`} transition:name={`${project.id}-title`} class="project-title">
						{project.data.title}
					</a>

					<div class="project-image">
						<img src={projectImage} alt={project.data.title} transition:name={project.id} />

						<div class="project-info">
							<div class="project-tags">
								{project.data.tags?.map((tag) => (
									<span class={`project-tag ${tag.toLowerCase()}`}>{tag}</span>
								))}
							</div>
							<p class="project-description">{project.data.short_description}</p>
						</div>
					</div>
				</li>
			);
		})
	}
</ul>
