---
interface Props {
	id?: string;
	title?: string;
	description?: string;
	is_background_alt?: boolean;
	style?: string;
}

const { id, title, description, is_background_alt, style } = Astro.props;

import "../css/components/section.css";
---

<section
	class="section"
	id={id}
	class:list={[
		"section-bg",
		{
			"section-bg-alt": is_background_alt,
		},
	]}
	id={id}
	style={style}
>
	<div class="section-container">
		{
			(title || description) && (
				<div class="section-header">
					{title && <h2>{title}</h2>}
					{description && <h6>{description}</h6>}
				</div>
			)
		}

		<div class="section-content">
			<slot />
		</div>
	</div>
</section>
