---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import Banner from "../../components/Banner.astro";
import Section from "../../components/Section.astro";
import ContactSection from "../../components/ContactSection.astro";

import { Icon } from "astro-icon/components";
import { marked } from "marked";
import "photoswipe/style.css";

import "../../css/name-proyecto.css";


export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((project) => ({
		params: {
			name: project.id,
		},
		props: {
			project,
			name: project.id,
		},
	}));
}

const { project, name } = Astro.props;

interface ProjectImage {
	src: string;
	width: number;
	height: number;
	path: string;
}

const allImages = import.meta.glob("/src/assets/projects/*/*.{jpg,jpeg,png,webp}", {
	eager: true,
}) as Record<
	string,
	{
		default: {
			src: string;
			width: number;
			height: number;
		};
	}
>;

const projectImages: ProjectImage[] = Object.entries(allImages)
	.filter(([path]) => path.includes(`/projects/${project.id}/`))
	.map(([path, image]) => ({
		path,
		src: image.default.src,
		width: image.default.width,
		height: image.default.height,
	}));

const projectImage = projectImages[0];

const galleryImages = projectImages.slice(1);

const description_html = marked(project.data.description ?? "");
const content_html = marked(project.data.content ?? "");
---

<MainLayout title={project.data.title} backUrl="/projects">
	
	<Fragment slot="header">
		<Banner bannerImage="/images/banner-home2.jpg" transition:name={name}>
			
			<div class="banner-content">
				<!-- {projectLogo && <img src={projectLogo.src} alt={`Logo de ${project.data.title}`} class="project-logo" />} -->
				<h1 transition:name={`${project.id}-title`}>
					{project.data.title}
				</h1>
				<div class="banner-buttons">
					<a href={project.data.github} class="button bg-dark" target="_blank" rel="noopener noreferrer">
						<Icon name="tabler:brand-github-filled" class="button-icon" />
						Ver Repositorio
					</a>
					<!-- si existe el demo, mostrar el botón -->
					{
						project.data.demo && (
							<a href={project.data.demo} class="button bg-info" target="_blank" rel="noopener noreferrer">
								<Icon name="tabler:player-play-filled" class="button-icon" />
								Ver Demo
							</a>
						)
					}
					{
						project.data.figma && (
							<a href={project.data.figma} class="button bg-success" target="_blank" rel="noopener noreferrer">
								<Icon name="tabler:brand-figma" class="button-icon" />
								Ver Figma
							</a>
						)
					}
				</div>
			</div>
		</Banner>
	</Fragment>
	<Section title="" description="" is_background_alt={true}>
		<div class="project-section-content">
			<div class="project-column-block">
				<h2>Descripción General</h2>
				<div class="project-content" set:html={description_html} />
			</div>
			<div class="project-section-content-img">
				<img src={projectImage.src} alt={project.data.title} transition:name={name} class="project-image" />
			</div>
		</div>
	</Section>
	<Section title="" description="">
		<div class="project-section-content">
			<div>
				<div class="project-content" set:html={content_html} />
			</div>
			<div class="project-column-block">
				<div class="project-column-block">
					<div class="project-section-info">
						<h2>Galería</h2>
						<p>Aquí puedes ver algunas capturas de pantalla del proyecto.</p>
					</div>
					{
						galleryImages.length > 0 && (
							<div class="swiper project-gallery-main">
								<div class="swiper-wrapper">
									{galleryImages.map((image) => (
										<div class="swiper-slide">
											<a href={image.src} data-pswp-width={image.width} data-pswp-height={image.height}>
												<img src={image.src} alt={`Captura de ${project.data.title}`} />
											</a>
										</div>
									))}
								</div>

								<div class="swiper-pagination" />
								<div class="swiper-button-prev" />
								<div class="swiper-button-next" />
							</div>
						)
					}
					{
						galleryImages.length > 0 && (
							<div class="swiper project-gallery-thumbs">
								<div class="swiper-wrapper">
									{galleryImages.map((image) => (
										<div class="swiper-slide">
											<img src={image.src} alt={`Miniatura de ${project.data.title}`} loading="lazy" />
										</div>
									))}
								</div>
							</div>
						)
					}
				</div>
				<div class="project-column-block">
					<div class="project-section-info">
						<h2>Tecnologías Utilizadas</h2>
						<p>Estas son algunas de las tecnologías que utilicé para desarrollar este proyecto.</p>
					</div>
					<div class="technologies">
						{
							project.data.technologies?.map((tech) => (
								<div class="tech">
									<Icon name={tech.icon} class="tech-icon" />
									<span>{tech.name}</span>
								</div>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</Section>

	<div class="project-navigation">
		<a href="/projects" class="button bg-warning">
			<Icon name="tabler:arrow-left" class="button-icon" />
			Volver a Proyectos
		</a>
	</div>

	<script>
		import Swiper from "swiper";
		import { Navigation, /*Pagination,*/ Autoplay, Thumbs, FreeMode } from "swiper/modules";

		interface SwiperHTMLElement extends HTMLElement {
			swiper?: Swiper;
		}

		function initProjectGallery() {
			const mainEl = document.querySelector<SwiperHTMLElement>(".project-gallery-main");

			const thumbsEl = document.querySelector<SwiperHTMLElement>(".project-gallery-thumbs");

			if (!mainEl || !thumbsEl) return;

			if (mainEl.swiper) {
				mainEl.swiper.destroy(true, true);
			}

			if (thumbsEl.swiper) {
				thumbsEl.swiper.destroy(true, true);
			}

			const thumbs = new Swiper(thumbsEl, {
				modules: [FreeMode],
				slidesPerView: 4,
				spaceBetween: 10,
				freeMode: true,
				watchSlidesProgress: true,
			});

			new Swiper(mainEl, {
				modules: [Navigation, /*Pagination,*/ Autoplay, Thumbs],
				loop: true,
				autoplay: {
					delay: 5000,
				},
				thumbs: {
					swiper: thumbs,
				},
				navigation: {
					nextEl: ".project-gallery-main .swiper-button-next",
					prevEl: ".project-gallery-main .swiper-button-prev",
				} /*
				pagination: {
					el: ".project-gallery-main .swiper-pagination",
					clickable: true,
				},*/,
			});
		}

		document.addEventListener("astro:page-load", initProjectGallery);

		initProjectGallery();

		import PhotoSwipeLightbox from "photoswipe/lightbox";

		let lightbox: PhotoSwipeLightbox | null = null;

		function initPhotoSwipe() {
			if (lightbox) {
				lightbox.destroy();
			}

			lightbox = new PhotoSwipeLightbox({
				gallery: ".project-gallery-main",
				children: "a",
				pswpModule: () => import("photoswipe"),
			});

			lightbox.init();
		}

		document.addEventListener("astro:page-load", () => {
			initProjectGallery();
			initPhotoSwipe();
		});

		initProjectGallery();
		initPhotoSwipe();
	</script>
	<ContactSection />
</MainLayout>
