---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: {
      name: project.id,
    },
    props: {
      project,
      name: project.id,
    },
  }));
}

const { project, name } = Astro.props;
---

<MainLayout title={project.data.title}>
  <h1>{project.data.title}</h1>
  <p>{project.data.description}</p>
  <div class="project-carrousel">
    <img src={project.data.image} alt={project.data.title} transition:name={name} />
  </div>
</MainLayout>