---
import { ClientRouter } from "astro:transitions";

import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
//const {title} = Astro.props;
interface Props {
	title: string;
	backUrl?: string;
}
const { title, backUrl } = Astro.props;

import "../css/layouts/global.css";
import "../css/ui/fondo-main.css";
import "../css/ui/buttons.css";
import "../css/ui/backgrounds.css";
import "../css/layouts/tinycomponents.css";

import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/thumbs";
import "swiper/css/free-mode";
import "photoswipe/style.css";
import FloatButtons from "../components/FloatButtons.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline>
			(function () {
				const theme = localStorage.getItem("theme");
				const dark = theme === "dark" || (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches);

				document.documentElement.classList.toggle("dark", dark);
			})();
		</script>
		<title>{title}</title>
		<!-- Lato + Poppins + Montserrat -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link
			href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700;900&display=swap"
			rel="stylesheet"
		/>
		<!-- Habilita el enrutamiento del lado del cliente para transiciones suaves -->
		<ClientRouter />
		<!-- Script para manejar el cambio de tema -->
		<script is:inline>
			function applyTheme() {
				const theme = localStorage.getItem("theme");

				const dark = theme === "dark" || (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches);

				document.documentElement.classList.toggle("dark", dark);
			}

			applyTheme();

			document.addEventListener("astro:page-load", applyTheme);
		</script>
	</head>

	<body>
		<!--  Barra de navegación -->
		<div class="background" aria-hidden="true">
			{Array.from({ length: 6 }).map(() => <div class="ball" />)}
		</div>
		<Sidebar backUrl={backUrl} />
		<main>
			<Navbar backUrl={backUrl} />
			<header>
				<slot name="header" />
			</header>
			<slot />
			<FloatButtons whatsappUrl="https://wa.me/51922616232?text=Hola,%20vi%20tu%20portafolio" />
			<Footer />
		</main>
	</body>
</html>
<!-- 
<style is:global>
</style>
-->
